<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace:命名空间：一定唯一 ,必须是某个接口的完全限定名 -->
<mapper namespace="indi.btt.dao.DailyHealthDao">

	<insert id="addDailyHealth" parameterType="indi.btt.domain.DailyHealth">
		INSERT INTO t_health
		(u_id,date,isContact,temperature,healthStatus,otherRemarks)
		VALUES
		(#{u_id}, #{date}, #{isContact}, #{temperature}, #{healthStatus},
		#{otherRemarks});
	</insert>

	<select id="queryHealthByID" parameterType="int"
		resultType="indi.btt.domain.DailyHealth">
		SELECT * FROM sqltest.t_health
		where u_id = #{u_id}
		order by
		date ASC;
	</select>

	<select id="queryTemperatureByID" parameterType="int"
		resultType="Float">
		select temperature from ( select * from sqltest.t_health
		where u_id = 1 order by date desc limit 0,14 ) as a
		order by date;
	</select>

	<select id="queryUnhealthyYesterday" resultType="indi.btt.domain.DailyHealthResult">
		SELECT h.u_id,
		h.date, h.isContact, h.temperature, h.healthStatus,
		h.otherRemarks ,
		u.u_name, u.u_phone,u.u_address,u.u_doorplate
		FROM
		sqltest.t_health as h ,sqltest.t_user as u
		WHERE TO_DAYS( NOW( ) ) -
		TO_DAYS( h.date ) <![CDATA[ <= ]]>
		1 and h.u_id = u.u_id and
		(h.isContact = 1 or h.temperature >=37.2
		or
		h.healthStatus != "healthy");
	</select>

	<select id="queryUnhealthyInfo" resultType="indi.btt.domain.User">
		select * from
		sqltest.t_user
		where u_id in
		(SELECT distinct u_id
		FROM sqltest.t_health
		where isContact = 1 or temperature >=37.2
		or healthStatus !=
		"healthy");
	</select>
</mapper>